annotated-types
anyio
alembic
bcrypt
cffi
click
cryptography
exceptiongroup
fastapi
h11
idna
#psycopg2
psycopg2-binary
pycparser
pydantic
pydantic_core
python-jose
python-dotenv
sniffio
starlette
typing_extensions
uvicorn
requests
aiohttp
aiosignal
alembic
async-timeout
asyncpg
attrs
certifi
charset-normalizer
dnspython
ecdsa
email_validator
fastapi-cli
frozenlist
greenlet
httpcore
httptools
httpx
importlib_metadata
importlib_resources
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
multidict
orjson
pyasn1
pydantic-settings
Pygments
pyOpenSSL
python-multipart
PyYAML
rich
rsa
shellingham
six
SQLAlchemy
typer
ujson
urllib3
uvloop
watchfiles
websockets
yarl
zipp
PyJWT
matplotlib
numpy
pandas